:root{
    --blue: #7485e8;
    --lightblue: #3b4895;
    --darkblue: #2b3778;
    --background: #fffaff;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0rem;
    -webkit-text-fill-color: var(--darkblue);
    background: rgb(183,174,255);
    background: radial-gradient(circle, rgba(183,174,255,1) 0%, rgba(255,255,250,1) 100%);
}

a {
    text-decoration: none;
    -webkit-text-fill-color: var(--darkblue);
}

a:hover {
    -webkit-text-fill-color: var(--blue);
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.star {
    width: 70px;
    height: 70px;
    margin-top: 16px;
    margin-left: 32px;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin-top: 2rem;
}

.nav-bar a {
    margin: 1rem 4rem 1rem 1rem;
    font-size: 1.2rem;
}

.about-me {
    font-size: 1.2rem;
    margin: 4rem 4rem 4rem 8rem;
}

.blue {
    -webkit-text-fill-color: var(--blue);
}

.my-desc {
    width: 50%;
    font-size: 1.2rem;
    margin: 4rem 4rem 16rem 8rem;
}

.skills {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgba(85, 108, 224, 0.6);
    -webkit-text-fill-color: var(--background);
}

.starred span{
    margin-right: 8px;
}

.skills h2 {
    margin-left: 8rem;
}

.skills ul {
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    margin: 2rem 0rem 0rem 5rem;
}

.skills li {
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--background);
    padding: .8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    margin: 1.2rem;
}

.skills li:hover {
    background-color: var(--background);
    -webkit-text-fill-color: rgb(123, 142, 239);
}

.projects {
    width: 100%;
    margin: 0rem 8rem 8rem 8rem;
    font-size: 1.2rem;
}

.projects img {
    margin-top: 2rem;
    display: block;
    margin-left: 70rem;
}

.project-one {
    width: 40%;
    margin-top: 4rem;
    padding: 2rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--blue);
}

.project-one h2 {
    font-size: 1.6rem;
}

.project-one a {
    font-size: 1rem;
    -webkit-text-fill-color: var(--blue);
}

.project-one a:hover {
    -webkit-text-fill-color: var(--darkblue);
}

.tools {
    display: flex;
    justify-content: space-between;
    -webkit-text-fill-color: var(--blue);
    font-size: 1rem;
}

.fun-facts {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 8rem;
    background-color: rgba(85, 108, 224, 0.6);
    -webkit-text-fill-color: var(--background);
    display: flex;
    flex-direction: column;
    align-content: end;
}

.fun-facts h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.facts {
    margin-left: 1rem;
}

.footer {
    -webkit-text-fill-color: var(--background);
    text-align: center;
    background-color: var(--darkblue);
    padding: 30px 0px 20px 0px;
}